.CurrentUser {
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	max-width: 642px;
	align-items: center;
}

.CurrentUser--identification {
	padding: 1em;
	flex: 1;
}

.CurrentUser--photo {
	max-height: 94px;
	border-radius: 50%;
}
